/* Setup */
.box {
    padding: 10px;
}
.box1 {
    background: #3498db;
}
.box2 {
    background: #d35400;
}
.box3 {
    background: #1abc9c;
}
#schema1, #schema2, #schema3 {
    margin-bottom: 100px;
}

/* Schema 1 */
#schema1 .box1 {
    float: left;
}
#schema1 .box2 {
    float: right;
}
#schema1 .box3 {
    clear: right;
    clear: left;
}

/* Schema 2 */
#schema2 .box1 {
    float: right;
}
#schema2 .box2 {
    clear: right;
    float: right;
}
#schema2 .box3 {
    clear: right;
}

/* Schema 3 */
#schema3 .box1 {
    float: right;
}
#schema3 .box2 {
    clear: right;
    float: right;
}
#schema3 .box3 {
    clear: right;
    float: right;
}